/*

Disclaimer: front-end dev sux
Writen by Tommy Botch (3-7-19)

*/

*, ::before, ::after {
    box-sizing: border-box;
}

html,
body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

header, footer, aside {
  padding: 1em;
}

a, a:visited, a:hover{ /* keeps the color of hyperlinks the same */
  color: inherit;
}

body {
    font-family: "Nunito-Sans",sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
    letter-spacing: 1px;
    font-size: 14px;
    position: relative;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    height: 80px;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    left: 0;
    right: 0;
    padding: 0 5%;
    position: fixed; /* keeps nav bar at the top */ 
    background-color: rgba(0, 0, 0, 0.6);
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed; /* keeps nav bar at the top */ 
    background-color: transparent;
}

.nav_main {
    display: flex;
    width: 100%;
}

.nav_main div {
    display: flex; /* causes li to fill parent */
    width: 80px;
    height: 50px;
    vertical-align: middle;
    justify-content: center; /* centers the text to container */
    color: white;
    padding: 8px;
    background-color: inherit;
}

.nav_main div:hover { /* color change of attribute on hover */
  background-color: #111;
}

.nav_main a {
    padding-top: 0.6rem;
    text-decoration: none;
    font-size: 1.1rem;
}

.contact_page {
    position: absolute;
    right: 5%; /* add equal to nav padding */
}

.homepage_landing{ /* container for background image, nests the intro text */
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url(../resources/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 992px;
}

.intro { /* self introduction formatting, place in center */
    display: block;
    position: absolute;
    text-align: left;
    padding: 2em;
    top: 50%;
    left: 50%;
    max-width: 800px;
    transform: translateX(-50%) translateY(-50%);
    background: rgba(0,0,0,0.2);

}

.intro h1 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1em !important;
    padding-bottom: 0.5rem;
}

.intro h3 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5em !important;
}

.contact_bar{
    float: right;
    padding-top: 1rem;
}
.contact_bar a{
    margin: 0 2px;
    text-decoration: none; /* removes hyperlink underline */
}

.contact_bar img { /*image will always fill its container*/
    position: relative;
    width: 35px ; /* force evenly sized images */
    height: 35px ;
    filter: invert(95%);
    color: white;
}

.contact_bar img:hover {
    filter: invert(10%);
}

.loading { /*loading is the wrapper for the entire "content" section of the page. this is executed on by the js function at the top of each html page*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2e2e2e;
    z-index: 999999;
}

.posts{

}