/*

Disclaimer: front-end dev sux
Writen by Tommy Botch (3-7-19)

*/

*, *::before, *::after {
    box-sizing: border-box;
}

html,
body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

header, footer, nav, aside {
  padding: 1em;
}

body {
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
    letter-spacing: 1px;
    font-size: 14px;
    position: relative;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    left: 0;
    right: 0;
    position: fixed; /* keeps nav bar at the top */ 
    background-color: #333;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed; /* keeps nav bar at the top */ 
    background-color: transparent;
}

nav div{
    display: flex;
    width: 100%;
}

nav a {
    display: flex; /* causes li to fill parent */
    justify-content: center; /* centers the text of the li*/
    color: white;
    padding: 8px;
    background-color: #aaaaaa;
}

nav a:hover { /* color change of attribute on hover */
  background-color: #111;
}

.background {
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

}

.nav_main a{
    margin: 0 1% 0 2%;
}

.contact {
    display: flex;
    width: 100%;
    justify-content: center; /* centers the text of the li*/
    color: white;
    padding: 8px;
}

.contact a { /* keep icon container between size constraints */
    width: 5%;
    height: 5%;
    max-width: 30px;
    min-width: 20px;
    min-height: 20px;
    max-height: 30px;
    margin: 0 8px;
}

.contact img { /*image will always fill its container*/
    height: 100%;
    width: 100%;
}

.intro { /* self introduction formatting, place in center */
    display: block;
    position: absolute;
    padding: 3em;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: transparent;

}

.intro h1 {
    font-size: 3em;
    line-height: 1em;
    padding-bottom: 0.5em;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2e2e2e;
    z-index: 999999;
}
